body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#card-content {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

.scroll-box {
    overflow-y: scroll;
    width: 200px;
    height: 200px;
    padding: 1rem
}